<form id="devMemberManageForm" method="POST">
    <fieldset>
        <section class="fb__menusubmit">
            <header class="fb__menusubmit-header">
                <h3 class="fb__menusubmit-title">회원전용 사용여부</h3>
                <a href="#" class="fb__menusubmit-btn">
                    <span>닫기</span>
                    <span>열기</span>
                </a>
            </header>
            <section class="fb-filter">
                <table>
                    <caption>회원전용 사용여부</caption>
                    <colgroup>
                        <col width="14%">
                        <col width="35%">
                        <col width="14%">
                        <col width="*">
                    </colgroup>

                    <tr> <!-- 라디오 타입 -->
                        <th class="fb-filter__title">
                            <span>
                                사용권한 설정
                            </span>
                        </th>
                        <td colspan="3" >
                            <div class="fb-filter__radio">
                                <label for="mall_open_y">
                                    <input type="radio" name="mall_open_yn" id="mall_open_y" value="N" {? config.mall_open_yn =='N' || !config.mall_open_yn } checked {/} >
                                           <span>일반승인</span>
                                </label>
                                <label for="mall_open_n">
                                    <input type="radio" name="mall_open_yn" id="mall_open_n" value="Y" {? config.mall_open_yn =='Y' } checked {/} >
                                           <span>관리자승인</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr> <!-- 라디오 타입 -->
                        <th class="fb-filter__title">
                            <span>
                                일반회원 승인설정
                            </span>
                        </th>
                        <td colspan="3" >
                            <div class="fb-filter__radio">
                                <label for="auth_type_a">
                                    <input type="radio" name="auth_type" id="auth_type_a" value="A" {? config.auth_type =='A' || !config.auth_type } checked {/} >
                                           <span>자동승인</span>
                                </label>
                                <label for="auth_type_m">
                                    <input type="radio" name="auth_type" id="auth_type_m" value="M" {? config.auth_type =='M' } checked {/} >
                                           <span>관리자승인</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr> <!-- 라디오 타입 -->
                        <th class="fb-filter__title">
                        <span>
                            휴대폰 인증 여부
                        </span>
                        </th>
                        <td>
                            <div class="fb-filter__checkbox">
                                <label>
                                    <input type="radio" name="mall_use_certify" value="Y" {? config.mall_use_certify =='Y' || !config.mall_use_certify} checked {/} >
                                    <span>인증</span>
                                </label>
                                <label>
                                    <input type="radio" name="mall_use_certify" value="N" {? config.mall_use_certify =='N'} checked {/} >
                                    <span>비인증</span>
                                </label>
                                <label id="mall_certify_input" {? config.mall_use_certify =='N'} style="display: none {/}">
                                    사이트 코드
                                    <input type="text" name="mall_certify_code" value="{config.mall_certify_code}">
                                    사이트 비밀번호
                                    <input type="text" name="mall_certify_pw" value="{config.mall_certify_pw}">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr> <!-- 라디오 타입 -->
                        <th class="fb-filter__title">
                        <span>
                            이니시스 통합인증
                        </span>
                        </th>
                        <td>
                            <div class="fb-filter__checkbox">
                                <label>
                                    <input type="radio" name="mall_use_sso" value="Y" {? config.mall_use_sso =='Y'} checked {/} >
                                    <span>인증</span>
                                </label>
                                <label>
                                    <input type="radio" name="mall_use_sso" value="N" {? config.mall_use_sso =='N' || !config.mall_use_sso} checked {/} >
                                    <span>비인증</span>
                                </label>
                                <label id="mall_sso_input" {? config.mall_use_sso !='Y'} style="display: none;"{/}>
                                    MID
                                    <input type="text" name="mall_sso_mid" value="{config.mall_sso_mid}">
                                    API KEY
                                    <input type="text" name="mall_sso_apikey" value="{config.mall_sso_apikey}">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr style="display:none;"> <!-- 라디오 타입 -->
                        <th class="fb-filter__title">
                        <span>
                            아이핀 인증 여부
                        </span>
                        </th>
                        <td>
                            <div class="fb-filter__checkbox">
                                <label>
                                    <input type="radio" name="mall_use_ipin" value="Y" {? config.mall_use_ipin =='Y' || !config.mall_use_ipin} checked {/} >
                                    <span>인증</span>
                                </label>
                                <label>
                                    <input type="radio" name="mall_use_ipin" value="N" {? config.mall_use_ipin =='N'} checked {/} >
                                    <span>비인증</span>
                                </label>
                                <label id="mall_ipin_input" {? config.mall_use_ipin =='N'} style="display: none {/}">
                                    회원사 아이디
                                    <input type="text" name="mall_ipin_code" value="{config.mall_ipin_code}">
                                    사이트 비밀번호
                                    <input type="text" name="mall_ipin_pw" value="{config.mall_ipin_pw}">
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr style="display:none;"> <!-- 라디오 타입 -->
                        <th class="fb-filter__title">
                            <span>
                                사업자회원 승인 설정
                            </span>
                        </th>
                        <td colspan="3" >
                            <div class="fb-filter__radio">
                                <label for="b2b_auth_type_a">
                                    <input type="radio" name="b2b_auth_type" id="b2b_auth_type_a" value="A" {? config.b2b_auth_type =='A' || !config.b2b_auth_type } checked {/} >
                                           <span>일반회원</span>
                                </label>
                                <label for="b2b_auth_type_m">
                                    <input type="radio" name="b2b_auth_type" id="b2b_auth_type_m" value="M" {? config.b2b_auth_type =='M' } checked {/} >
                                           <span>사업자회원</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr> <!-- 체크박스 타입-->
                        <th class="fb-filter__title">
                            <span>
                                회원형태 선택
                            </span>
                        </th>
                        <td>
                            <div class="fb-filter__checkbox">                    
                                <label>
                                    <input type="checkbox" name="join_type_b" value="B" {? config.join_type =='B' || config.join_type =='BC' || !config.join_type } checked {/} >
                                           <span>일반회원</span>
                                </label>
                                <label style="display:none;">
                                    <input type="checkbox" name="join_type_c" value="C" >
                                           <span>사업자회원</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr> <!-- 텍스트 타입 -->
                        <th class="fb-filter__title">
                            <span>
                                가입불가ID
                            </span>
                        </th>
                        <td colspan="3" class="fb-filter__day-wrap">
                            <div class="fb-filter__filter__text">
                                <p>구분자 쉽표(,)</p>
                                <textarea type="text" class="fb-filter__textarea"  name="mall_deny_id" >{config.mall_deny_id}</textarea>
                            </div>
                        </td>
                    </tr>

                </table>
            </section>
        </section>
    </fieldset>
</form>