<!--{#devStatisticsTop}-->
<section class="fb__menusubmit fb-filter">
    <canvas id="devChart"></canvas>

    {? div != 'all'}
    {? div == 'sleep'}
    <section class="fb-filter">
        <table class="fb-filter__table">
            <caption>주문자 정보</caption>
            <colgroup>
            </colgroup>
            <tr>
                <th class="">
                    <span>전체 휴면 회원</span>
                </th>
                <th class="">
                    <span>휴면 해지 회원</span>
                </th>
            </tr>
            <tr>
                <th id="devInTotalCnt"></th>
                <th id="devOutTotalCnt"></th>
            </tr>
        </table>
    </section>
    {:}
    <section class="fb-filter">
        <table class="fb-filter__table">
            <caption>주문자 정보</caption>
            <colgroup>
            </colgroup>
            <tr>
                <th class="">
                    <span>합계</span>
                </th>
            </tr>
            <tr>
                <th id="devTotalCnt"></th>
            </tr>
        </table>
    </section>
    {/}
    <header class="fb-maincontent-header">
        <h3 class="fb-maincontent-title">목록<span class="fb-maincontent-total">(총 <em class="fb-maincontent-count"
                                                                                     id="devTotal">0</em>개)</span>

        </h3>
        <div class="fb-maincontent-fliter">
            <select name="" class="fb-filter__select" id="devMax">
                <option value="100">100</option>
                <option value="50" selected>50</option>
                <option value="25">25</option>
            </select>
            <button class="fb-filter__btn-excel" id="devExcelDownload">
                <span>
                    엑셀 다운로드
                </span>
            </button>
        </div>
    </header>
    {/}
    <div id="devPagingGrid"></div>
    <div id="devPageWrap" class="fb__bbs__page"></div>
</section>