<!--{#devStatisticsTop}-->
<section class="fb-filter devChartArea">
    <canvas id="devChart"></canvas>
</section>
{? stDiv == 'product' || stDiv == 'orderDetail'}
<!--{#devStatisticsOrderDetailTotal}-->
{:}
<!--{#devStatisticsOrderTotal}-->
{/}
<section class="fb__menusubmit fb-filter">
    <header class="fb-maincontent-header">
        <h3 class="fb-maincontent-title">목록<span class="fb-maincontent-total">(총 <em class="fb-maincontent-count"
                                                                                     id="devTotal">0</em>개)</span>

        </h3>
        <div class="fb-maincontent-fliter">
            <select name="" class="fb-filter__select" id="devMax">
                <option value="100">100</option>
                <option value="50" selected>50</option>
                <option value="25">25</option>
            </select>
            <button class="fb-filter__btn-excel" id="devExcelDownload">
                <span>
                    엑셀 다운로드
                </span>
            </button>
        </div>
    </header>
    <div id="devPagingGrid"></div>
    <div id="devPageWrap" class="fb__bbs__page"></div>
</section>