<section class="fb__menusubmit mypage-cont">
    <fieldset class="fb-filter">
        <div class="fb__tap">
            <ul class="fb__tap__inner" id="devTap">
                <li class="fb__tap__menu">
                    <a href="#devServicePg" class="fb__tap__menu--active">
                        PG
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceLookup">
                        배송추적
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceAutoComplete">
                        자동배송완료
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceSsl">
                        SSL 인증서
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceSso">
                        통합인증
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceSms">
                        문자 메시지
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceAlimTalk">
                        알림톡
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceBulkMail">
                        대량 메일
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceFat">
                        FAT
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceSeller">
                        셀러관리
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceMarket">
                        마켓통합관리
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceBigin">
                        빅인사이트
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devServiceKakaopayPg">
                        카카오페이
                    </a>
                </li>
            </ul>
        </div>
    </fieldset>

    <section class="fb-filter fb__tapcontent__inner fb__tapcontent--show" id="devServicePg">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>

            <div class="fb-filter">
                <table class="fb-filter__table">
                    <tbody>
                        <tr>
                            <th>서비스명</th>
                            <th>신청구분</th>
                            <th>상점아이디</th>
                            <th>신청일자</th>
                        </tr>
                        <tr>
                            <td>{sattle_module[0]}</td>
                            <td>{sattle_module[1]}</td>
                            <td>{sattle_module[3]}</td>
                            <td>{sattle_module[2]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h5 class="fb__section-title">유의사항</h5>
            <section class="fb__infobox">
                <p class="fb__info-line">네이버, 페이코 간편결제 서비스 신청내역은 각 서비스 홈페이지에서 확인 하실 수 있습니다.</p>
            </section>
        </div>
    </section>

    <section class="fb-filter fb__tapcontent__inner" id="devServiceLookup">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>배송추적</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/delivery/lookup" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="fb-filter fb__tapcontent__inner" id="devServiceAutoComplete">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>자동배송완료</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/delivery/autoComplete" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceSsl">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>SSL 인증서</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/security/ssl" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceSso">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>통합인증</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/security/sso" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="fb-filter fb__tapcontent__inner" id="devServiceSms">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>문자 메세지</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/notice/sms" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceAlimTalk">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>알림톡</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/notice/alrimTalk" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceBulkMail">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>대량 메일</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/notice/bulkMail" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceFat">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>FAT</th>
                        <td class="devRemainCount">0 포인트</td>
                        <td class="center"><a href="/thirdParty/marketing/fat" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceSeller">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>셀러관리</th>
                        <td class="devRemainCount">0 일</td>
                        <td class="center"><a href="/thirdParty/plugin/seller" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceMarket">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>마켓통합관리</th>
                        <td class="devRemainCount">0 일</td>
                        <td class="center"><a href="/thirdParty/plugin/market" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="fb-filter fb__tapcontent__inner" id="devServiceBigin">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>빅인사이트 스크립트</th>
                        <td class="devRemainCount">0 일</td>
                        <td class="center"><a href="/thirdParty/marketing/biginsight" class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="fb-filter fb__tapcontent__inner" id="devServiceKakaopayPg">
        <div class="fb-filter__wrap">
            <h5 class="fb__section-title">신청 현황</h5>
            <div class="fb-filter">
                <table class="fb-filter__table col">
                    <colgroup>
                        <col width="14%">
                        <col width="*">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>카카오 간편결제</th>
                        <td class="devRemainCount">{? kakaopayInfo[0]}신청 ({kakaopayInfo[1]}){:}신청안함{/}
                        </td>
                        <td class="center">
                            {? kakaopayInfo[0]}
                            {kakaopayInfo[2]}
                            {:}
                            <a href="/thirdParty/easyPayment/kakaopay"
                               class="devHistoryCheck fb__button fb-filter__org">서비스 신청</a>
                            {/}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</section>

<section class="fb__menusubmit fb-filter" id="devHistoryListPointSection">
    <header class="fb-maincontent-header">
        <h3 class="fb-maincontent-title">결제내역</h3>
    </header>
    <div id="devServiceHistoryPointGrid"></div>
<!--    <div id="devServiceHistoryPageWrap" class="fb__bbs__page"></div>-->
</section>
<section class="fb__menusubmit fb-filter" id="devHistoryListTermSection">
    <header class="fb-maincontent-header">
        <h3 class="fb-maincontent-title">결제내역</h3>
    </header>
    <div id="devServiceHistoryTermGrid"></div>
    <!--    <div id="devServiceHistoryPageWrap" class="fb__bbs__page"></div>-->
</section>