@charset "UTF-8";
/* node_modules */
/* 공통 */
/* rem-baseline 재선언(브라우저에서 확인 쉽게 처리 ex. rem(48px) => 2.4rem으로 노출처리 ) */
/* rem 사용시 html에 있는 font-size: 100% 제거 필요 */
/* main */
.fb__main .main__menu {
  display: inline-block;
  margin-left: -0.53333vw;
  padding: 4vw 4.8vw;
  color: #666;
  font-size: 3.73333vw;
}

.fb__main .main__menu__wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.fb__main .main__menu__wrapper::-webkit-scrollbar {
  display: none;
}

.fb__main .main__menu__wrapper nav {
  padding-left: 1.6vw;
}

.fb__main .main__menu.active {
  color: #111;
  font-weight: 600;
}

.fb__main .main__content__header.quick {
  margin: 0 0 2.66667vw -4vw;
  font-size: 0;
  text-align: center;
}

.fb__main .main__content__header.quick .main__content__title {
  display: inline-block;
  margin: 0 1.86667vw 0 0;
  color: #111;
  font-weight: lighter;
  font-size: 6.4vw;
  line-height: 8.53333vw;
  vertical-align: middle;
}

.fb__main .main__content__header .quick__button {
  display: inline-block;
  width: 6.4vw;
  height: 6.4vw;
  background: url(../../images/common/icon-comm-select-small.png) no-repeat center center/5.33333vw 5.33333vw;
  border: 0.26667vw solid #ccc;
  border-radius: 50%;
  font-size: 0;
  vertical-align: middle;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.fb__main .main__content__title {
  margin: 0 0 2.66667vw -4vw;
  text-align: center;
  color: #111;
  font-weight: lighter;
  font-size: 6.4vw;
  line-height: 8.53333vw;
}

.fb__main .main__content__nav {
  overflow: hidden;
  margin-bottom: 5.33333vw;
  border-bottom: none;
}

.fb__main .main__content__nav .inner {
  overflow: hidden;
  overflow-x: scroll;
  min-height: 5.33333vw;
  white-space: nowrap;
}

.fb__main .main__content__nav .inner::-webkit-scrollbar {
  display: none;
}

.fb__main .main__content__nav .inner a {
  position: relative;
  display: inline-block;
  margin-right: 6.66667vw;
  font-size: 3.46667vw;
  color: #666;
}

.fb__main .main__content__nav .inner a.active {
  color: #111;
  font-weight: bold;
}

.fb__main .main__content__nav .inner a.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.06667vw;
  width: 100%;
  height: 0.53333vw;
  background: #111;
}

.fb__main .main__content__nav .inner a.on {
  color: #111;
  font-weight: bold;
}

.fb__main .main__content__nav .inner a.on:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1.06667vw;
  width: 100%;
  height: 0.53333vw;
  background: #111;
}

.fb__main .main__content__wrap {
  height: 0;
  overflow: hidden;
}

.fb__main .main__content__wrap.show {
  height: auto;
  overflow: visible;
  padding-bottom: 8.66667vw;
}

.fb__main .main .js__mainCont__wrap {
  display: none;
}

.fb__main .main .js__mainCont__wrap.show {
  display: block;
}

.fb__main .main__slider__wrapper {
  position: relative;
}

.fb__main .main__slider__image {
  width: 100vw;
  height: 131.2vw;
  overflow: hidden;
  position: relative;
}

.fb__main .main__slider__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

.fb__main .main__slider__pagination {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 2;
  width: auto;
  padding: 1.6vw 4vw;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0;
}

.fb__main .main__slider__pagination span {
  color: #fff;
  font-size: 3.2vw;
  line-height: 4.26667vw;
}

.fb__main .main__slider__pagination em {
  color: #fff;
  font-size: 3.2vw;
  line-height: 4.26667vw;
}

.fb__main .main__slider__pagination .swiper-pagination-current:after {
  display: inline-block;
  font-size: 3.2vw;
  content: "/";
}

.fb__main .main__new {
  overflow: hidden;
  position: relative;
  margin: 13.33333vw 0 0 4vw;
}

.fb__main .main__new__wrapper .item__box {
  width: 34.66667vw;
  margin-right: 2.66667vw;
}

.fb__main .main__new__wrapper .item__thumb {
  width: 34.66667vw;
  height: 34.66667vw;
}

.fb__main .main__promotion {
  margin: 13.33333vw 0 0 4vw;
}

.fb__main .main__promotion .promotion__wrapper .fb__event__box {
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.fb__main .main__promotion .promotion__wrapper .fb__event__box::-webkit-scrollbar {
  display: none;
}

.fb__main .main__promotion .promotion__wrapper .fb__event__list {
  display: inline-block;
  width: 85.33333vw;
  margin-top: 0;
  margin-right: 2.66667vw;
  vertical-align: top;
  white-space: normal;
}

.fb__main .main__promotion .promotion__wrapper .fb__event__image {
  width: 85.33333vw;
  height: 85.33333vw;
}

.fb__main .main__promotion .promotion__wrapper .fb__event__info {
  padding: 5.33333vw 0 4vw;
}

.fb__main .main__promotion .promotion__wrapper .fb__items {
  overflow: hidden;
  height: 58.66667vw;
}

.fb__main .main__promotion .promotion__summary {
  min-height: 17.06667vw;
  margin-top: 1.06667vw;
  color: #666666;
  font-size: 3.73333vw;
  line-height: 5.68vw;
  white-space: normal;
  /* 사용법 : @include line(라인수) */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 3;
}

.fb__main .main__style {
  position: relative;
  overflow: hidden;
  margin: 16vw 0 0 4vw;
}

.fb__main .main__style__nav {
  margin-bottom: 4vw;
  font-size: 0;
}

.fb__main .main__style__nav a {
  display: inline-block;
  height: 8.8vw;
  margin: 0.93333vw;
  padding: 2.66667vw 4vw;
  background: #f5f5f5;
  border-radius: 13.33333vw;
  color: #999;
  font-size: 3.73333vw;
  line-height: 1;
}

.fb__main .main__style__nav a.active {
  background: #111 !important;
  color: #fff !important;
}

.fb__main .main__style__wrapper .item__box {
  width: 34.66667vw;
  margin-right: 2.66667vw;
}

.fb__main .main__style__wrapper .item__thumb {
  width: 34.66667vw;
  height: 34.66667vw;
}

.fb__main .main__banner {
  margin-top: 16vw;
}

.fb__main .main__banner__link {
  display: block;
}

.fb__main .main__banner__image {
  width: 100vw;
  height: 21.33333vw;
  overflow: hidden;
  position: relative;
}

.fb__main .main__banner__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

.fb__main .main__seller {
  margin: 13.33333vw 0 0 4vw;
  overflow: hidden;
  position: relative;
}

.fb__main .main__seller .item__box {
  width: 45.33333vw;
  margin: 8vw 0 0 1.33333vw;
}

.fb__main .main__seller .item__box:nth-child(-n + 2) {
  margin-top: 0;
}

.fb__main .main__seller .item__box:nth-child(odd) {
  margin-left: 0;
}

.fb__main .main__seller .item__thumb {
  width: 45.33333vw;
  height: 45.33333vw;
}

.fb__main .main__event {
  padding: 13.33333vw 0 1.33333vw 4vw;
  overflow: hidden;
  position: relative;
}

.fb__main .main__event__wrapper {
  margin-right: 4vw;
}

.fb__main .main__event__wrapper .fb__event__list {
  box-shadow: 0 0.26667vw 1.06667vw 0 rgba(0, 0, 0, 0.12);
}

.fb__main .main__event__wrapper .fb__event__image {
  width: 92vw;
  height: 49.6vw;
}

.fb__main .main__event__wrapper .fb__event__name {
  font-size: 5.86667vw;
  line-height: 9.6vw;
}

.fb__main__view-more {
  width: 100%;
  text-align: center;
}

.fb__main__view-more button {
  width: 40vw;
  height: 12vw;
  border: 1px solid #111;
  font-size: 3.2vw;
  color: #111;
  letter-spacing: 0.66667vw;
  box-sizing: border-box;
}

.fb .main__title--hidden {
  font-size: 0;
  line-height: 0;
}

.fb__margin {
  margin-top: 5.33333vw;
  background: #fff;
  border: 0;
}

.fb__n {
  font-family: "Rb", "Notosans", sans-serif;
}

.fb__promotion {
  margin-bottom: 10.66667vw;
}

.fb__event {
  overflow: hidden;
  margin-bottom: 21.33333vw;
}

.fb__event__box.promo .fb__event__list {
  margin-top: 8vw;
}

.fb__event__box.promo .fb__event__list:first-child {
  margin-top: 0;
}

.fb__event__box.promo .fb__event__info {
  width: 94.66667vw;
  margin: -13.33333vw 0 0 5.33333vw;
  padding: 4vw 5.33333vw 4vw 4vw;
}

.fb__event__list {
  margin-top: 4vw;
  width: 100%;
}

.fb__event__list:first-of-type {
  margin-top: 0;
}

.fb__event__link {
  display: block;
}

.fb__event__item {
  position: relative;
  font-size: 0;
  line-height: 0;
}

.fb__event__image {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
  position: relative;
}

.fb__event__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

.fb__event__image .end__txt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 3.73333vw;
}

.fb__event__badge {
  position: absolute;
  bottom: -4vw;
  left: 4vw;
  z-index: 1;
  padding: 0.8vw 2.66667vw;
  background: #111;
  font-size: 3.46667vw;
  line-height: 4.8vw;
  color: #fff;
  vertical-align: middle;
}

.fb__event__badge.end {
  background-color: #ccc;
}

.fb__event__info {
  position: relative;
  padding: 5.86667vw 4vw 5.86667vw;
  background: #fff;
}

.fb__event__info.end .fb__event__name,
.fb__event__info.end .fb__event__desc,
.fb__event__info.end .fb__event__date {
  color: #999;
}

.fb__event__name {
  color: #111;
  font-size: 6.4vw;
  line-height: 9.6vw;
  /* 사용법 : @include line(라인수) */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fb__event__desc {
  color: #666;
  font-size: 3.2vw;
  line-height: 4.8vw;
  /* 사용법 : @include line(라인수) */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
}

.fb__event__date {
  margin-top: 1.33333vw;
  color: #666;
  font-size: 3.73333vw;
  font-family: "Rb", "Notosans", sans-serif;
  line-height: 5.86667vw;
}

.fb__event__tab {
  display: flex;
  border-top: 1px solid #f8f8f8;
  text-align: center;
}

.fb__event__menu {
  width: 50%;
  font-size: 3.73333vw;
}

.fb__event__menu:first-of-type {
  margin-left: 0;
}

.fb__event__menu input[type="radio"] {
  position: absolute;
  width: 0;
  height: 0;
}

.fb__event__menu input[type="radio"] + span {
  display: block;
  position: relative;
  width: 100%;
  padding: 4vw 0;
  font-size: 3.73333vw;
  color: #666;
}

.fb__event__menu input[type="radio"] + span:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}

.fb__event__menu input[type="radio"]:checked + span {
  color: #ff6600;
}

.fb__event__menu input[type="radio"]:checked + span:before {
  height: 0.4vw;
  background: #ff6600;
}

.fb__event__wrap {
  padding: 4vw;
}

.fb__event .fb__event__image {
  width: 92vw;
  height: 49.6vw;
}

.fb__event .fb__event__image.end:after {
  line-height: 49.6vw;
}

.fb__event .fb__event__list {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}


/*# sourceMappingURL=main.css.map*/