<section class="fb__menusubmit">
    <header class="fb__menusubmit-header">
        <h3 class="fb__menusubmit-title">결제모듈 KCP</h3>
    </header>

    <section class="fb-filter">
        <table>
            <caption></caption>
            <colgroup>
                <col width="14%">
                <col width="35%">
                <col width="14%">
                <col width="*">
            </colgroup>

            <input type="hidden" name="service_type" value="service" />
            <tr> <!-- 채크박스 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                         KCP 주 결제수단 사용여부
                    </span>
                </th>
                <td colspan="3">
                    <div class="fb-filter__radio">
                        <input type="hidden" name="mainPayMethod" id="devMainPayMethodTxt" value="">
                        {@ mainPayMethod}
                        <label for="mainPayMethod_{.key_}">
                            <input type="checkbox" class="devMainPayMethod" name="mainPayMethod[]"
                                   id="mainPayMethod_{.key_}" value="{.key_}"
                                   {? in_array(.key_ , mainPayMethodArray)}checked{/}
                            >
                            <span>{.value_}</span>
                        </label>
                        {/}
                    </div>
                </td>
            </tr>

            <tr>
                <th class="fb-filter__title">
                    <span>
                        추가결제모듈
                    </span>
                </th>
                <td colspan="3" >
                    <div class="fb-filter__radio">
                        <input type="hidden" name="simplePayMethod" id="devSimplePayMethodTxt" value="">
                        {@ simplePayMethod}
                        <label for="simplePayMethod_{.key_}">
                            <input type="checkbox" class="devSimplePayMethod" name="simplePayMethod[]" id="simplePayMethod_{.key_}" value="{.key_}"
                                   {? in_array(.key_ , simplePayMethodArray)}checked{/}
                            >
                            <span>{.value_}</span>
                        </label>
                        {/}
                    </div>
                </td>
            </tr>

            <tr> <!-- 라디오 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        복합과세 사용 여부
                    </span>
                </th>
                <td colspan="3">
                    <div class="fb-filter__radio">
                        <label>
                            <input type="radio" name="tax_use_yn" value="N" {?
                                   config.tax_use_yn== 'N' || !config.tax_use_yn } checked {/} >
                            <span>미사용</span>
                        </label>
                        <label>
                            <input type="radio" name="tax_use_yn" value="Y" {?
                                   config.tax_use_yn== 'Y' } checked {/} >
                            <span>사용</span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr> <!-- 텍스트 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        사이트코드
                    </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    <div class="fb-filter__title-contents">
                        <input type="text" class="fb-filter__text" name="site_cd" value="{config.site_cd}">
                    </div>
                </td>
            </tr>
            <tr> <!-- 텍스트 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        사이트키
                    </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    <div class="fb-filter__title-contents">
                        <input type="text" class="fb-filter__text" name="site_key"
                               value="{config.site_key}">
                    </div>
                </td>
            </tr>
            <tr> <!-- 텍스트 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        사이트명
                    </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    <div class="fb-filter__title-contents">
                        <input type="text" class="fb-filter__text" name="site_name"
                               value="{config.site_name}"> <br/>반드시 영문자로 설정하여 주시기 바랍니다.
                    </div>
                </td>
            </tr>
        </table>
    </section>

</section>
