<section class="fb__menusubmit">
    <header class="fb__menusubmit-header">
        <h3 class="fb__menusubmit-title">결제모듈 KSNET</h3>
    </header>

    <section class="fb-filter">
        <table>
            <caption></caption>
            <colgroup>
                <col width="14%">
                <col width="35%">
                <col width="14%">
                <col width="*">
            </colgroup>
            
            <input type="hidden" name="service_type" value="service" />
            <tr> <!-- 채크박스 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        KSNET 주 결제수단 사용여부
                    </span>
                </th>
                <td colspan="3">
                    <div class="fb-filter__radio">
                        <input type="hidden" name="mainPayMethod" id="devMainPayMethodTxt" value="">
                        {@ mainPayMethod}
                        <label for="mainPayMethod_{.key_}">
                            <input type="checkbox" class="devMainPayMethod" name="mainPayMethod[]"
                                   id="mainPayMethod_{.key_}" value="{.key_}"
                                   {? in_array(.key_ , mainPayMethodArray)}checked{/}
                            >
                            <span>{.value_}</span>
                        </label>
                        {/}
                    </div>
                </td>
            </tr>

            <tr> <!-- 채크박스 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                       KSNET 간편결제 사용여부
                    </span>
                </th>
                <td colspan="3">
                    <div class="fb-filter__radio">
                        <input type="hidden" name="simplePayMethod" id="devSimplePayMethodTxt" value="">
                        {@ simplePayMethod}
                        <label for="simplePayMethod_{.key_}">
                            <input type="checkbox" class="devSimplePayMethod" name="simplePayMethod[]"
                                   id="simplePayMethod_{.key_}" value="{.key_}"
                                   {? in_array(.key_ , simplePayMethodArray)}checked{/}
                            >
                            <span>{.value_}</span>
                        </label>
                        {/}
                    </div>
                </td>
            </tr>
            <!--{/// KSNET에서 토스 업데이트 중 12월 완료 예정
            <label>
                <input type="checkbox" class="devAddSattleModule" name="add_payment_sattle_module_toss" value="Y" {?
                       config.add_payment_sattle_module_toss == 'Y' } checked {/} >
                <span>토스</span>
            </label>
            }-->
            <!--<tbody class="typeTest" {? config.service_type==
            'service' } style="display:none;" {/}>
            <tr>
                <th class="fb-filter__title">
                        <span class="fb-filter__title--ne">
                            상점 아이디
                        </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    <div class="fb-filter__title-contents">
                        <input type="text" class="fb-filter__text" name="sndTestStoreid"
                               value="{config.sndTestStoreid}">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="fb-filter__title">
                        <span class="fb-filter__title--ne">
                            상점 비밀번호
                        </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    <div class="fb-filter__title-contents">
                        <input type="text" class="fb-filter__text" name="sndTestStorepasswd"
                               value="{config.sndTestStorepasswd}">
                    </div>
                </td>
            </tr>
            </tbody>
            -->
            <tbody class="typeService" {? config.service_type==
            'test' || !config.service_type } style="display:none;" {/}>
            <tr> <!--  Service 텍스트 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        상점 아이디
                    </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    {? config.sndStoreid == null}
                    <div class="fb-filter__title-contents">
                        상점 ID 발급이 필요합니다. >
                        <a href="javascript:void(0)" id="devKsnetPutRegister" class="main-color"> <u>신청하러 가기</u></a>
                    </div>
                    {:}
                        {? is_storeId_num == true}
                    <div class="fb-filter__title-contents">
                        {config.sndStoreid}
                        <button type="button" class="fb-filter__save fb__button" id="devKsnetGetId" style="width: 110px;">상점 아이디 갱신</button>
                    </div>
                        {:}
                        <a href="javascript:void(0)" id="devKsnetPutRegister" class="main-color"> <u>재신청하러 가기</u></a>
                        {/}
                    {/}
                </td>
            </tr>
            <!--<tr>
                <th class="fb-filter__title">
                        <span class="fb-filter__title--ne">
                            상점 비밀번호
                        </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    <div class="fb-filter__title-contents">
                        <input type="text" class="fb-filter__text" name="sndStorepasswd"
                               value="{config.sndStorepasswd}">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="fb-filter__title">
                        <span class="fb-filter__title--ne">
                            에스크로 사용 여부
                        </span>
                </th>
                <td colspan="3">
                    <div class="fb-filter__radio">
                        <label>
                            <input type="radio" name="sndEscrow" value="0" {?
                                   config.sndEscrow== '0' || !config.sndEscrow } checked {/} >
                            <span>미사용</span>
                        </label>
                        <label>
                            <input type="radio" name="sndEscrow" value="1" {?
                                   config.sndEscrow== '1' } checked {/} >
                            <span>사용</span>
                        </label>
                    </div>
                </td>
            </tr>
            -->
            </tbody>
            <input type="hidden" name="sndEscrow" value="0">
        </table>
    </section>

</section>
