<section class="fb__menusubmit">
    <header class="fb__menusubmit-header">
        <h3 class="fb__menusubmit-title">결제모듈 KSNET</h3>
    </header>

    <section class="fb-filter">
        <table>
            <caption></caption>
            <colgroup>
                <col width="14%">
                <col width="35%">
                <col width="14%">
                <col width="*">
            </colgroup>
            
            <input type="hidden" name="service_type" value="service" />
            <tr> <!-- 채크박스 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        KSNET 주 결제수단 사용여부
                    </span>
                </th>
                <td colspan="3">
                    <div class="fb-filter__radio">
                        <input type="hidden" name="mainPayMethod" id="devMainPayMethodTxt" value="">
                        {@ mainPayMethod}
                        <label for="mainPayMethod_{.key_}">
                            <input type="checkbox" class="devMainPayMethod" name="mainPayMethod[]"
                                   id="mainPayMethod_{.key_}" value="{.key_}"
                                   {? in_array(.key_ , mainPayMethodArray)}checked{/}
                            >
                            <span>{.value_}</span>
                        </label>
                        {/}
                    </div>
                </td>
            </tr>

            <tr> <!-- 채크박스 타입 -->
                <th class="fb-filter__title">
                    <span>
                       KSNET 간편결제 사용여부
                    </span>
                </th>
                <td colspan="3">
                    <div class="fb-filter__radio">
                        <input type="hidden" name="simplePayMethod" id="devSimplePayMethodTxt" value="">
                        {@ simplePayMethod}
                        <label for="simplePayMethod_{.key_}">
                            <input type="checkbox" class="devSimplePayMethod" name="simplePayMethod[]"
                                   id="simplePayMethod_{.key_}" value="{.key_}"
                                   {? in_array(.key_ , simplePayMethodArray)}checked{/}
                            >
                            <span>{.value_}</span>
                        </label>
                        {/}
                    </div>
                </td>
            </tr>
            <tbody class="typeService">
            <tr> <!--  Service 텍스트 타입 -->
                <th class="fb-filter__title">
                    <span class="fb-filter__title--ne">
                        상점 아이디
                    </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                    <div class="fb-filter__title-contents">
                        <input type="text" class="fb-filter__text" name="sndStoreid" value="{config.sndStoreid}" id="devKsnetSndStoreId">
                    </div>
                </td>
<!--                <td colspan="3" class="fb-filter__day-wrap">-->
<!--                    {? config.sndStoreid == null}-->
<!--                    <div class="fb-filter__title-contents">-->
<!--                        상점 ID 발급이 필요합니다. >-->
<!--                        <a href="javascript:void(0)" id="devKsnetPutRegister" class="main-color"> <u>신청하러 가기</u></a>-->
<!--                    </div>-->
<!--                    {:}-->
<!--                        {? is_storeId_num == true}-->
<!--                    <div class="fb-filter__title-contents">-->
<!--                        {config.sndStoreid}-->
<!--                        <button type="button" class="fb-filter__save fb__button" id="devKsnetGetId" style="width: 110px;">상점 아이디 갱신</button>-->
<!--                    </div>-->
<!--                        {:}-->
<!--                        <a href="javascript:void(0)" id="devKsnetPutRegister" class="main-color"> <u>재신청하러 가기</u></a>-->
<!--                        {/}-->
<!--                    {/}-->
<!--                </td>-->
            </tr>
            </tbody>
            <input type="hidden" name="sndEscrow" value="0">
        </table>
    </section>

</section>
