<section class="fb__login">
    <div class="fb__login-inner">
        <header class="fb__login-header">
            <h1 class="fb__login-logo">FORBIZ</h1>
        </header>
        <div class="fb__login-contents">
            <form id="devLoginFrm" method="post">
                <input type="hidden" name="{ForbizCsrf.name}" value="{ForbizCsrf.hash}" />
                <fieldset>
                    <legend>
                        로그인 아이디 패스워드 폼
                    </legend>
                    <input type="text" name="id" id="devUserId" value="" title="아이디" placeholder="아이디">
                    <input type="password" name="pw" id="devUserPassword" value="" title="비밀번호" placeholder="비밀번호">
                    <button type="submit">로그인</button>

                    <div class="flex flex--alignCenter gap--8" style="display: none;" id="devCapchaBox">
                        <figure id="devCapchaImg" style="font-size: 0;"></figure>
                        <button type="button" class="btn-reload mg--0" style="width: 100px;" id="devCapchaReload">새로고침</button>
                        <label class="mg--0">
                            <input type='text' name="captcha_text" id="devCaptchaText" value='' title="추가문자" tabindex=3 class="captcha-text mg--0" placeholder="문자를 입력해주세요."/>
                        </label>
                    </div>
                </fieldset>
            </form>
            {? existsAdminInfo}
            <div class="">
                <button type="button" id="devSearchIdPw" class="bg-white" style="margin-top: 0;">위저드 가입 ID/PW 찾기</button>
            </div>
            {/}
        </div>
        <footer class="fb__login-footer">
            <p>
                Copyright ⓒ FORBIZKOREA x NAVER Cloud All Rights Reserved.
            </p>
        </footer>
    </div>
</section>

{# searchIdPwModal}