<section class="fb__login">
    <div class="fb__login-inner">
        <header class="fb__login-header">
            <h1 class="fb__login-logo">FORBIZ</h1>
        </header>
        <div class="fb__login-contents">
            <form id="devLoginFrm" method="post">
                <input type="hidden" name="{ForbizCsrf.name}" value="{ForbizCsrf.hash}" />
                <fieldset>
                    <legend>
                        로그인 아이디 패스워드 폼
                    </legend>
                    <input type="text" name="id" id="devUserId" value="" title="아이디" placeholder="아이디">
                    <input type="password" name="pw" id="devUserPassword" value="" title="비밀번호" placeholder="비밀번호">
                    <button type="submit">로그인</button>

                    <table style="width: 100%; height: 40px; display: none;" id="devCapchaBox">
                        <col width='95' />
                        <col width='*' />
                        <col width='210' />
                        <tr>
                            <td id="devCapchaImg"></td>
                            <td>
                                <button type="button" class="btn-reload" id="devCapchaReload">새로고침</button>
                            </td>
                            <td><input type='text' name="captcha_text" id="devCaptchaText" value='' title="추가문자" tabindex=3 class="captcha-text" placeholder="문자를 입력해주세요."/></td>
                        </tr>
                    </table>
                </fieldset>
            </form>
            {? existsAdminInfo}
            <div class="">
                <button type="button" id="devSearchIdPw" class="bg-white" style="margin-top: 0;">위저드 가입 ID/PW 찾기</button>
            </div>
            {/}
        </div>
        <footer class="fb__login-footer">
            <p>
                Copyright ⓒ FORBIZKOREA x NAVER Cloud All Rights Reserved.
            </p>
        </footer>
    </div>
</section>

{# searchIdPwModal}