<section class="fb__menusubmit">
    <section class="fb-filter" id="devChannelManagement" >
        <form id="devChannelForm">
            <input type="hidden" name="page" value="1" id="devChannelPageNum"/>
            <input type="hidden" name="max" value="50" id="devChannelMax"/>
        </form>
        <section class="fb__menusubmit">
            <div id="devChannelPagingGrid"></div>
            <div id="devChannelPageWrap" class="fb__bbs__page"></div>
        </section>
    </section>
</section>


<section class="fb__menusubmit">
    <header class="fb__menusubmit-header">
        <h3 class="fb__menusubmit-title">유의사항</h3>
    </header>
    <section class="fb__infobox">
        <p class="fb__info-line">카카오 채널은 Mall당 1개의 채널만 등록 할 수 있습니다.</p>
        <p class="fb__info-line">카카오 채널 삭제 문의는 메타커머스 홈페이지 1:1문의를 이용해주세요.</p>
    </section>
</section>