<section class="fb__menusubmit" xmlns="http://www.w3.org/1999/html">
    <section class="fb-filter">
        <form id="devDisplayForm" enctype="multipart/form-data">
            <input type="hidden" name="banner_ix" value="{bannerIx}">
            <fieldset>
                <legend>
                    통합배너관리 등록/수정
                </legend>
                <table>
                    <caption></caption>
                    <colgroup>
                        <col width="14%">
                        <col width="35%">
                        <col width="14%">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th class="fb-filter__title">
                            <span class="fb-filter__title--ne">페이지 / 배너위치</span>
                        </th>
                        <td class="fb-filter__title-contents">
                            <select name="banner_page" id="devDivList" class="fb-filter__select" title="배너 분류">
                                <option value="" selected>배너 분류</option>
                                {@ divList}
                                <option data-cascading=true value="{divList.div_ix}" {? divList.div_ix==bannerList.banner_page}selected{/}>{divList.div_name}</option>
                                {/}
                            </select>
                            <select name="banner_position" id="devPositionList" class="fb-filter__select" title="배너위치">
                                <option value="" selected>배너위치 선택</option>
                                {@ positionList}
                                <option value="{positionList.bp_ix}" {? positionList.bp_ix==bannerList.banner_position}selected{/}>{positionList.bp_name}</option>
                                {/}
                            </select>
                        </td>
                        <th class="fb-filter__title">
                            <span>전시타입</span>
                        </th>
                        <td>
                            <div class="fb-filter__radio">
                                <label>
                                    <input type="radio" name="agent_type" value="W" {? mode=='add' || mode!='add' && bannerList.agent_type=='W'}checked{/}>
                                    <span>웹</span>
                                </label>
                                <label>
                                    <input type="radio" name="agent_type" value="M" {? mode!='add' && bannerList.agent_type=='M'}checked{/}>
                                    <span>모바일</span>
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="fb-filter__title">
                            <span class="fb-filter__title--ne">배너명</span>
                        </th>
                        <td class="fb-filter__title-contents">
                            <input type="text" name="banner_name" class="fb-filter__text fb-filter__text--100" value="{bannerList.banner_name}" title="배너명">
                        </td>
                        <th class="fb-filter__title">
                            <span>노출여부</span>
                        </th>
                        <td>
                            <div class="fb-filter__radio">
                                {@ dispList}
                                <label>
                                    <input type="radio" name="disp" value="{.key_}" {? (mode=='add' && .key_==1) || (mode!='add' && .key_==bannerList.disp)}checked{/}>
                                    <span>{.value_}</span>
                                </label>
                                {/}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="fb-filter__title">
                            <span class="fb-filter__title">
                                노출 카테고리
                            </span>
                        </th>
                        <td colspan="3" class="fb__table fb__menusubmit-divide">
                            <div class="cascading" id="devSelectCategory"></div>
                            <div class="fb__menusubmit-dividelist dividelist">
                                <span class="dividelist__title">선택한 상품 분류: </span>
                                <ul class="dividelist__list" id="devSelCategory">
                                    <li>
                                        대분류 메뉴명
                                    </li>
                                    <li>
                                        중분류 메뉴명
                                    </li>
                                </ul>
                                <input type="button" class="dividelist__btn" id="devProductCategoryButton" value="상품분류 선택"/>
                            </div>
                            <table id="devCategoryTable">
                                <caption>분류 추가 테이블</caption>
                                <colgroup>
                                    <col width="*">
                                    <col width="175">
                                </colgroup>
                                <thader>
                                    <tr>
                                        <th>
                                            선택한 상품분류 목록
                                        </th>
                                        <th>
                                            삭제
                                        </th>
                                    </tr>
                                </thader>
                                <tbody id="devProductCategoryList">
                                <tr class="fb__menusubmit-active devForbizTpl devProductCategory" id="devProductCategoryTemplate">
                                    <input type="hidden" name="cidList[]" value="{[cid]}">
                                    <td class="fb__menusubmit-indecater">
                                        <ul>
                                            {[path]}
                                        </ul>
                                    </td>
                                    <td>
                                        <input type="button" class="fb__menusubmit-del devProductCategoryDelete"
                                               value="삭제"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="fb__menusubmit-text">
                                - 상품에 설정된 모든 속성은 대표 상품분류로 선택된 목록에 종속됩니다.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="fb-filter__title">
                            <span class="fb-filter__title--ne">
                                배너 노출기간
                            </span>
                        </th>
                        <td colspan="3" class="fb-filter__day-wrap">
                            <div class="fb-filter__input__day-box">
                                <input type="text" class="fb-filter__text fb-filter__input__day--time" id="devBetweenDatePickerStart" name="use_sdate" value="{bannerList.use_sdate}" readonly title="배너 노출기간 시작일">
                            </div>
                            <input type="text" class="fb-filter__text fb-filter__input__day--time" id="devBetweenDatePickerEnd" name="use_edate" value="{bannerList.use_edate}" readonly title="배너 노출기간 종료일">
                            <span id="devQuickBetweenDate"></span>
                        </td>
                    </tr>
                    <tr style="display:none;">
                        <th class="fb-filter__title">
                            <span>가로</span>
                        </th>
                        <td class="fb-filter__title-contents">
                            <input type="text" name="banner_width" class="fb-filter__text fb-filter__text--100" value="{bannerList.banner_width}">
                        </td>
                        <th class="fb-filter__title">
                            <span>세로</span>
                        </th>
                        <td class="fb-filter__title-contents">
                            <input type="text" name="banner_height" class="fb-filter__text fb-filter__text--100" value="{bannerList.banner_height}">
                        </td>
                    </tr>
                    <tr>
                        <th class="fb-filter__title">
                            <span>배너설명</span>
                        </th>
                        <td colspan="3" class="fb-filter__title-contents">
                            <input type="text" name="banner_desc" class="fb-filter__text fb-filter__text--100" value="{bannerList.banner_desc}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </section>
</section>
<section id="devGroupContents"></section>

<!--{'<script id="devBasicGroupTpl" type="text/x-handlebars-template">'}-->
<section class="fb__menusubmit devGroupSection" groupCode="{[group_code]}">
    <header class="fb__menusubmit-header">
        <h3 class="fb__menusubmit-title">
            배너이미지 <span>(Group {[group_code]})</span>
        </h3>
        <nav class="fb__menusubmit-headerBtn fb-filter__btn devNav">
            <button class="fb-filter__org fb__menusubmit-headerBtn--goodsadd devGroupAddBtn">배너이미지 추가</button>
            {[#if delBtnBool]}
            <button class="fb-filter__gary devGroupDelBtn">삭제</button>
            {[/if]}
        </nav>
        <a href="#" class="fb__menusubmit-btn">
            <span>닫기</span>
            <span>열기</span>
        </a>
    </header>
    <section class="fb-filter">
        <form class="devGroupForm">
            <input type="hidden" name="group_code" value=""/>
            <input type="hidden" name="bd_ix" value="{[bd_ix]}"/>
            <fieldset>
                <legend>
                    배너이미지
                </legend>
                <table>
                    <caption></caption>
                    <colgroup>
                        <col width="14%">
                        <col width="35%">
                        <col width="14%">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th class="fb-filter__title">
                            <span class="fb-filter__title--ne">타이틀</span>
                        </th>
                        <td colspan="3" class="fb-filter__title-contents">
                            <input type="text" name="bd_title" class="fb-filter__text fb-filter__text--100" value="" title="타이틀">
                        </td>
                    </tr>
                    <tr>
                        <th class="fb-filter__title">
                            <span>배너 이미지</span>
                        </th>
                        <td colspan="3" class="fb-filter__title-contents">
                            <div class="devFileupload" data-img-src="{[groupImageSrc]}"></div>
                        </td>
                    </tr>
                    <tr>
                        <th class="fb-filter__title">
                            <span>배너 이미지링크</span>
                        </th>
                        <td colspan="3" class="fb-filter__title-contents">
                            <input type="text" name="bd_link" class="fb-filter__text fb-filter__text--50" value="">
                        </td>
                    </tr>
                    <tr>
                        <th class="fb-filter__title">
                            <span>노출순서</span>
                        </th>
                        <td colspan="3" class="fb-filter__title-contents">
                            <label>
                                <input type="text" name="vieworder" class="fb-filter__text fb-filter__text--10" devnumber="true" value="">
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </section>
</section>
<!--{'</script>'}-->

<!--{'<script>'}-->
var categoryRelationData = { = json_encode(categoryRelation)};
var groupListData = { = json_encode(groupList)};
<!--{'</script>'}-->