@charset "UTF-8";
/* 공통 */
/* main */
#main .fb__layout__nomenu-type {
  width: 100%;
}

.fb__title {
  color: #111;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.fb__title--hidden {
  font-size: 0;
  line-height: 0;
}

.fb__title span {
  color: #ff6600;
}

.fb__main .fb__title {
  margin-bottom: 20px;
  font-family: "Rb", "Notosans", sans-serif;
  font-weight: lighter;
  font-size: 38px;
  line-height: 56px;
  vertical-align: middle;
}

.fb__main .fb__title.quick__title {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.fb__main .quick__button {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-left: 8px;
  background: url(../../images/common/btn-viewtv-arrow-right.png) no-repeat center center/6px 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 0;
  vertical-align: middle;
}

.fb__main__header {
  margin-bottom: 30px;
  font-size: 0;
  text-align: center;
}

.fb__main__nav {
  margin-top: -10px;
  text-align: center;
}

.fb__main__nav a {
  display: inline-block;
  position: relative;
  margin: 10px 20px 0;
  padding: 0 2px;
  color: #666;
  font-weight: lighter;
  font-size: 16px;
  vertical-align: top;
}

.fb__main__nav a.active {
  color: #111 !important;
  font-weight: bold;
}

.fb__main__nav a.active:after {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #111;
  content: "";
}

.fb__main__inner {
  overflow: hidden;
}

.fb__main__visual {
  overflow: hidden;
}

.fb__main__visual .visual__slider {
  overflow: visible;
  position: relative;
  width: 1280px;
  text-align: center;
  font-size: 0;
}

.fb__main__visual .visual__item {
  display: inline-block;
  width: 1280px;
  margin: 0 10px;
}

.fb__main__visual .visual__link {
  display: block;
}

.fb__main__visual .visual__image {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.fb__main__visual .visual__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

.fb__main__visual .visual__controler .controler__btn button {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 36px;
  height: 66px;
  margin-top: -33px;
  padding: 0;
}

.fb__main__visual .visual__controler .controler__btn--prev {
  left: -92px;
  background: url(../../images/common/btn-mainvideo-arrow-left.png) no-repeat center center;
}

.fb__main__visual .visual__controler .controler__btn--next {
  right: -92px;
  background: url(../../images/common/btn-mainvideo-arrow-right.png) no-repeat center center;
}

.fb__main__visual .visual__controler .controler__pagination {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 2;
  width: auto;
  padding: 6px 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 0;
}

.fb__main__visual .visual__controler .controler__pagination .swiper-pagination-current:after {
  display: inline-block;
  font-size: 12px;
  content: "/";
}

.fb__main__visual .visual__controler .controler__pagination span {
  font-size: 12px;
  line-height: 16px;
}

.fb__main__visual .visual__controler .controler__pagination em {
  font-size: 12px;
  line-height: 16px;
}

.fb__main__new {
  width: 1280px;
  margin: 100px auto 0;
}

.fb__main__new .fb__goods__list {
  width: 232px !important;
  height: 420px;
}

.fb__main__new .fb__goods__list .fb__goods__img {
  height: 232px;
}

.fb__main__promotion {
  width: 1280px;
  margin: 100px auto 0;
}

.fb__main__style {
  width: 1280px;
  margin: 100px auto 0;
}

.fb__main__style .style__nav {
  margin-top: -10px;
  text-align: center;
}

.fb__main__style .style__nav a {
  display: inline-block;
  margin: 10px 5px 0;
  padding: 6px 30px;
  background: #f5f5f5;
  border-radius: 100px;
  color: #999;
  font-size: 16px;
  line-height: 24px;
}

.fb__main__style .style__nav a.active {
  background: #111;
  color: #fff;
}

.fb__main__style .style .fb__main__goods {
  margin-top: 0;
}

.fb__main__best {
  width: 1280px;
  margin: 100px auto 0;
}

.fb__main__banner {
  margin-top: 100px;
  text-align: center;
}

.fb__main__banner .baaner__link {
  display: block;
}

.fb__main__banner .baaner__image {
  background: #ccc;
  overflow: hidden;
  position: relative;
}

.fb__main__banner .baaner__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

.fb__main__event {
  width: 1280px;
  margin: 100px auto 0;
}

.fb__promotion {
  width: 1280px;
  margin: 80px auto 0;
}

.fb__promotion .fb__title {
  font-size: 38px;
  font-weight: lighter;
  line-height: 56px;
}

.fb__promotion__wrap {
  margin-top: 60px;
}

.fb__promotion__box {
  font-size: 0;
}

.fb__promotion__list {
  display: inline-block;
  width: 410px;
  margin: 90px 0 0 25px;
  vertical-align: top;
}

.fb__promotion__list:nth-child(-n + 3) {
  margin-top: 0;
}

.fb__promotion__list:nth-child(3n + 1) {
  margin-left: 0;
}

.fb__promotion__image {
  overflow: hidden;
  position: relative;
  width: 410px;
  height: 410px;
}

.fb__promotion__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

.fb__promotion__image .end__txt {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 17px;
  text-align: center;
}

.fb__promotion__image .end__txt:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.fb__promotion__info {
  position: relative;
  margin-top: 20px;
}

.fb__promotion__info.end .fb__promotion__name {
  color: #999;
}

.fb__promotion__info.end .fb__promotion__date {
  color: #999;
}

.fb__promotion__name {
  max-width: 380px;
  color: #111;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  /* 사용법 : @include line(라인수) */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fb__promotion__desc {
  max-width: 380px;
  min-height: 80px;
  margin-top: 8px;
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  /* 사용법 : @include line(라인수) */
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 3;
}

.fb__promotion__date {
  margin-top: 15px;
  color: #111;
  font-size: 16px;
  line-height: 1;
}

.fb__event {
  width: 1280px;
  margin: 80px auto 0;
}

.fb__event .fb__title {
  font-size: 38px;
  font-weight: lighter;
  line-height: 56px;
}

.fb__event .event-bbs__tab {
  margin-left: 40px;
}

.fb__event .event-bbs__tab__wrapper {
  margin-top: 20px;
  text-align: center;
}

.fb__event .event-bbs__tab:first-of-type {
  margin-left: 0;
}

.fb__event .event-bbs__tab input[type="radio"] {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
}

.fb__event .event-bbs__tab input[type="radio"] + span {
  color: #666;
  font-weight: 200;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.fb__event .event-bbs__tab input[type="radio"]:checked + span {
  padding-bottom: 1px;
  border-bottom: 2px solid #ff6600;
  color: #ff6600;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.fb__event__wrap {
  margin-top: 60px;
}

.fb__event__box {
  font-size: 0;
}

.fb__event__list {
  display: inline-block;
  width: 630px;
  margin: 60px 0 0 20px;
  vertical-align: top;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.fb__event__list:nth-child(-n + 2) {
  margin-top: 0;
}

.fb__event__list:nth-child(odd) {
  margin-left: 0;
}

.fb__event__image {
  overflow: hidden;
  position: relative;
  width: 630px;
  height: 340px;
  background: #ccc;
}

.fb__event__image img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

.fb__event__image .end__txt {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 17px;
  text-align: center;
}

.fb__event__image .end__txt:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.fb__event__info {
  position: relative;
  padding: 25px 20px;
}

.fb__event__info.end .fb__event__name,
.fb__event__info.end .fb__event__desc,
.fb__event__info.end .fb__event__date {
  color: #999;
}

.fb__event__name {
  overflow: hidden;
  max-width: 370px;
  color: #111;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  /* 사용법 : @include line(라인수) */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fb__event__desc {
  max-width: 590px;
  min-height: 20px;
  margin-top: 15px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  /* 사용법 : @include line(라인수) */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fb__event__date {
  margin-top: 18px;
  color: #666;
  font-size: 13px;
  line-height: 1;
  font-family: "Rb", "Notosans", sans-serif;
}


/*# sourceMappingURL=main.css.map*/