{# searchProductForm}

<section class="fb__menusubmit fb-filter">
    <header class="fb-maincontent-header">
        <h3 class="fb-maincontent-title">목록<span class="fb-maincontent-total">(총 <em class="fb-maincontent-count" id="devTotal">0</em>개)</span>
        </h3>
        <div class="fb-maincontent-fliter">
            <select name="" class="fb-filter__select" id="devMax">
                <option value="100">100</option>
                <option value="50" selected>50</option>
                <option value="25">25</option>
            </select>
            <button class="fb-filter__btn-excel" id="devExcelDownload">
                <span>
                    엑셀 다운로드
                </span>
            </button>
        </div>
    </header>
    <div id="devPagingGrid"></div>
    <div id="devPageWrap" class="fb__bbs__page"></div>
</section>
{? sess_val('admininfo','mem_div') == 'D'}
<div class="fb__bottom">
    <article class="fb__bottom-fixemenu " id="fb_bottom-nav">
        <section class="fb__fixemenu">
            <header class="fb__fixemenu-header">
                <h2 class="fb__fixemenu-title">일괄 변경</h2>
                <p class="fb__fixemenu-summary">
                    목록에서 선택한 항목 또는 검색 결과의 속성을 일괄 변경합니다.
                </p>
                <a href="#" class="fb__fixemenu-btn">
                    <span>열기</span>
                </a>
            </header>

            <div class="fb__fixemenu__contents">
                <section class="fb-filter">
                    <form method="post" id="devModifyForm">
                        <fieldset>
                            <legend>
                                컨텐츠 필터 폼
                            </legend>
                            <table>
                                <caption></caption>
                                <colgroup>
                                    <col width="14%">
                                    <col width="35%">
                                    <col width="14%">
                                    <col width="*">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th class="fb-filter__title">
                                        <span class="fb-filter__title--ne">
                                            판매/진열 상태 변경
                                        </span>
                                    </th>
                                    <td colspan="3">
                                        <div class="fb-filter__radio">
                                            <label>
                                                <input type="radio" name="batchType" value="state" checked>
                                                <span>판매상태</span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="fb-filter__title">
                                        <span class="fb-filter__title--ne">
                                            판매상태
                                        </span>
                                    </th>
                                    <td colspan="3">
                                        <div class="fb-filter__radio">
                                            {@ changeStateList}
                                            <label>
                                                <input type="radio" name="stateBatch" value="{.key_}" {? .index_ ==0}checked{/}>
                                                <span>{.value_}</span>
                                            </label>
                                            {/}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="fb-filter__btn fb__goodssearch__btn">
                                <button type="submit" class="fb-filter__search" id="devBatchButton">일괄변경</button>
                            </div>
                        </fieldset>
                    </form>
                </section>
            </div>
        </section>
    </article>
</div>
{/}