<div class="header__inner">
    <button type="button" class="back js__header-back">
        <span class="blind">{=trans('뒤로가기')}</span>
    </button>

    <button id="category-filter__btn" class="category js__header__category" type="button">{nowCate.cname}</button>

    <a href="javascript:void(0)" id="icon_search" class="search">
        <span class="blind">SEARCH</span>
    </a>

    <a href="/shop/cart" class="cart">
        <span class="blind">cart</span>
        <em>{=g_number_format(layoutCommon.userInfo.cartCnt)}</em>
    </a>
</div>

{= fb_widget('header/searchLayer')}

<!-- 카테고리 뎁스 -->
<section class="categoryLayer">
    <ul class="depth01__box">
        {@ headerMenu.categoryList}
        <li class="depth01__list">
            {? .subCateList}
                <details {? substr(cid, 0, 3) == substr(.cid, 0, 3)}open{/}>
                    <summary class="depth01__list__link">
                        <span data-cid="{.cid}">{.cname}</span>
                    </summary>

                    {? .subCateList}
                    <ul class="depth02__box">
                        <li class="depth02__list">
                            <a href="/shop/goodsList/{.cid}" class="depth02__list__link" data-cid="{.cid}">{=trans('전체')}</a>
                        </li>

                        {@ .subCateList}
                        <li class="depth02__list">
                            {? ..subCateList}
                                <details {? substr(cid, 3, 3) == substr(..cid, 3, 3)}open{/}>
                                    <summary class="depth02__list__link{? ..cid == cid} active{/}">
                                        <span data-cid="{..cid}">{..cname}</span>
                                    </summary>

                                    {? ..subCateList}
                                    <ul class="depth03__box">
                                        {@ ..subCateList}
                                        <li class="depth03__list">
                                            <a href="/shop/goodsList/{...cid}" class="depth03__list__link{? ...cid == cid} active{/}" data-cid="{...cid}">
                                                <span >{...cname}</span>
                                            </a>
                                        </li>
                                        {/}
                                    </ul>
                                    {/}
                                </details>
                            {:}
                                <a href="/shop/goodsList/{..cid}" class="depth02__list__link{? ..cid == cid} active{/}" data-cid="{..cid}">{..cname}</a>
                            {/}
                        </li>
                        {/}
                    </ul>
                    {/}
                </details>
            {:}
                <a href="/shop/goodsList/{.cid}" class="depth01__list__link">
                    <span>{.cname}</span>
                </a>
            {/}
        </li>
        {/}
    </ul>
</section>
