<div class="header__inner">
    <h1 class="logo">
        <a href="/"><img src="/data/mall_data/images/mobile_logo.png"></a>
    </h1>

    <!-- <a href="#navigation" class="menu">
        <span class="blind">MENU</span>
    </a> -->

    <a href="javascript:void(0)" id="icon_search" class="search">
        <span class="blind">SEARCH</span>
    </a>

    <a href="/shop/cart" class="cart">
        <span class="blind">cart</span>
        <em>{=g_number_format(layoutCommon.userInfo.cartCnt)}</em>
    </a>
</div>

{= fb_widget('header/searchLayer')}
