<div class="header__inner">
    {? !(layoutCommon.bodyId == 'shop_paymentComplete')}
        <button type="button" class="back js__header-back">
            <span class="blind">{=trans('뒤로가기')}</span>
        </button>

        {? layoutCommon.bodyId == 'shop_cart' || layoutCommon.bodyId == 'shop_goodsView'}
        <a href="/" class="home">
            <span class="blind">{=trans('홈')}</span>
        </a>
        {/}
    {/}

    <span class="page-name">{pageName}</span>

    {?  !(layoutCommon.bodyId == 'company_privacy'
        || layoutCommon.bodyId == 'company_agreement'
        || layoutCommon.bodyId == 'shop_cart'
        || layoutCommon.bodyId == 'shop_infoInput'
        || layoutCommon.bodyId == 'member_login'
        || layoutCommon.bodyId == 'member_joinSelect'
        || layoutCommon.bodyId == 'member_authentication'
        || layoutCommon.bodyId == 'member_joinEnd')
    }
    <div class="icon-box">
        <a href="javascript:void(0)" id="icon_search" class="search">
            <span class="blind">{=trans('검색')}</span>
        </a>

        <a href="/shop/cart" class="cart">
            <span class="blind">{=trans('장바구니')}</span>
            <em>{=g_number_format(layoutCommon.userInfo.cartCnt)}</em>
        </a>
    </div>
    {/}
</div>

{= fb_widget('header/searchLayer')}
