

<section class="fb__menusubmit">
    <section class="fb-filter">
        <header class="fb-maincontent-header">
            <h3 class="fb-maincontent-title">엑셀다운로드</h3>
        </header>
        <table>
            <caption></caption>
            <colgroup>
                <col width="14%">
                <col width="*">
            </colgroup>
            <tbody>
            <tr>
                <th class="fb-filter__title">
                        <span>
                            다운로드 사유
                        </span>
                </th>
                <td colspan="3" class="fb-filter__day-wrap">
                        <span>
                            <input type="text" class="fb-filter__text" name="message" id="devMessage" value="" maxlength="20"/>
                        </span>
                </td>
            </tr>
            <tr>
                <th class="fb-filter__title">
                        <span>
                            비밀번호
                        </span>
                </th>
                <td class="fb-filter__day-wrap">
                        <span>
                            <input type="password" class="fb-filter__text" name="password" id="devPassword" value="" />
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</section>
<div class="fb-filter__btn">
    <button class="fb-filter__search" id="devDownLoadButton">다운로드</button>
</div>