<form id="devForm" method="post" >
    <input type ="hidden" name="sattle_module" value="{sattle_module}">
    <!--{#sattleModule}-->
</form>
<section class="fb__menusubmit">
    <header class="fb__menusubmit-header">
        <h3 class="fb__menusubmit-title">※ 유의사항</h3>
    </header>
    <section class="fb__infobox">
        <p class="fb__info-line">메타커머스 패키지의 결제모듈 이용 시, 메타커머스용 가맹점ID만 사용 가능합니다.</p>
        <p class="fb__info-line">기존 사용하던 가맹점ID가 있는 경우 호스팅사 변경 후 신규 발급이 필요합니다.</p>
        <p class="fb__info-line">아래의 FAQ를 참조하시기 바랍니다.</p>
        <p class="fb__info-line"><a href="https://meta-commerce.co.kr/customer/faq/detail/171/191" target="_blank"><u>전자결제(PG) 서비스 이전 FAQ 바로가기</u></a></p>
    </section>
</section>