<form id="devEasyDirectConfigForm" method="post" >
    <section class="fb__menusubmit">
        <header class="fb__menusubmit-header">
            <h3 class="fb__menusubmit-title">간편결제 네이버페이 (직연동)</h3>
        </header>
        <section class="fb-filter">
            <table>
                <caption></caption>
                <colgroup>
                    <col width="14%">
                    <col width="35%">
                    <col width="14%">
                    <col width="*">
                </colgroup>
                <tbody class="devServiceTable">
                <tr>
                    <th class="fb-filter__title">
                    <span>
                        네이버페이 사용 여부
                    </span>
                    </th>
                    <td colspan="3">
                        <div class="fb-filter__radio devServiceSelect">
                            <label>
                                <input type="radio" name="naverpay_pg_service_use" value="Y" {? payConfig.naverpay_pg_service_use =='Y'  } checked {/}  />
                                <span>사용함</span>
                            </label>
                            <label>
                                <input type="radio" name="naverpay_pg_service_use" value="N" {? payConfig.naverpay_pg_service_use =='' || payConfig.naverpay_pg_service_use =='N'  } checked {/}  />
                                <span>사용안함</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="fb-filter__title">
                        <span>
                            네이버페이 서비스 타입
                        </span>
                    </th>
                    <td colspan="3" >
                        <div class="fb-filter__radio devServiceUse">
                            <label>
                                <input type="radio" name="naverpay_pg_service_type" value="test" {? payConfig.naverpay_pg_service_type =='' || payConfig.naverpay_pg_service_type =='test'  } checked {/}  />
                                <span>test</span>
                            </label>
                            <label>
                                <input type="radio" name="naverpay_pg_service_type" value="service" {? payConfig.naverpay_pg_service_type =='service'  } checked {/}  />
                                <span>service</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr> <!-- 텍스트 타입 -->
                    <th class="fb-filter__title">
                        <span>
                            상점 키
                        </span>
                    </th>
                    <td colspan="3" class="fb-filter__day-wrap">
                        <div class="fb-filter__title-contents devServiceUse">
                            <input type="text" class="fb-filter__text" name="naverpay_pg_partner_id" title="Npay ( PG형 ) 파트너 ID" placeholder="파트너 ID" value="{payConfig.naverpay_pg_partner_id}">
                            <input type="text" class="fb-filter__text" name="naverpay_pg_client_id" title="Npay ( PG형 ) Client ID" placeholder="Client ID" value="{payConfig.naverpay_pg_client_id}">
                            <input type="text" class="fb-filter__text" name="naverpay_pg_client_secret" title="Npay ( PG형 ) Client Secret" placeholder="Client Secret" value="{payConfig.naverpay_pg_client_secret}">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>

    <section class="fb__menusubmit">
        <header class="fb__menusubmit-header">
            <h3 class="fb__menusubmit-title">간편결제 페이코 (직연동)</h3>
        </header>
        <section class="fb-filter">
            <table>
                <caption></caption>
                <colgroup>
                    <col width="14%">
                    <col width="35%">
                    <col width="14%">
                    <col width="*">
                </colgroup>
                <tbody class="devServiceTable">
                <tr>
                    <th class="fb-filter__title">
                    <span>
                        페이코 사용 여부
                    </span>
                    </th>
                    <td colspan="3">
                        <div class="fb-filter__radio devServiceSelect">
                            <label>
                                <input type="radio" name="payco_service_use" value="Y" {? payConfig.payco_service_use =='Y'  } checked {/}  />
                                <span>사용함</span>
                            </label>
                            <label>
                                <input type="radio" name="payco_service_use" value="N" {? payConfig.payco_service_use =='' || payConfig.payco_service_use =='N'  } checked {/}  />
                                <span>사용안함</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="fb-filter__title">
                        <span>
                            페이코 서비스 타입
                        </span>
                    </th>
                    <td colspan="3" >
                        <div class="fb-filter__radio devServiceUse">
                            <label>
                                <input type="radio" name="payco_service_type" value="test" {? payConfig.payco_service_type =='' || payConfig.payco_service_type =='test'  } checked {/}  />
                                <span>test</span>
                            </label>
                            <label>
                                <input type="radio" name="payco_service_type" value="service" {? payConfig.payco_service_type =='service'  } checked {/}  />
                                <span>service</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr> <!-- 텍스트 타입 -->
                    <th class="fb-filter__title">
                        <span>
                            상점 키
                        </span>
                    </th>
                    <td colspan="3" class="fb-filter__day-wrap">
                        <div class="fb-filter__title-contents devServiceUse">
                            <input type="text" class="fb-filter__text" name="payco_seller_key" title="PAYCO sellerKey"
                                   placeholder="sellerKey" value="{payConfig.payco_seller_key}">
                            <input type="text" class="fb-filter__text" name="payco_cp_id" title="PAYCO cpId"
                                   placeholder="cpId" value="{payConfig.payco_cp_id}">
                            <input type="text" class="fb-filter__text" name="payco_product_id" title="PAYCO productId"
                                   placeholder="productId" value="{payConfig.payco_product_id}">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>

    <section class="fb__menusubmit">
        <header class="fb__menusubmit-header">
            <h3 class="fb__menusubmit-title">간편결제 토스 (직연동)</h3>
        </header>
        <section class="fb-filter">
            <table>
                <caption></caption>
                <colgroup>
                    <col width="14%">
                    <col width="35%">
                    <col width="14%">
                    <col width="*">
                </colgroup>
                <tbody class="devServiceTable">
                <tr>
                    <th class="fb-filter__title">
                    <span>
                        토스 사용 여부
                    </span>
                    </th>
                    <td colspan="3">
                        <div class="fb-filter__radio devServiceSelect">
                            <label>
                                <input type="radio" name="toss_service_use" value="Y" {? payConfig.toss_service_use =='Y'  } checked {/}  />
                                <span>사용함</span>
                            </label>
                            <label>
                                <input type="radio" name="toss_service_use" value="N" {? payConfig.toss_service_use =='' || payConfig.toss_service_use =='N'  } checked {/}  />
                                <span>사용안함</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="fb-filter__title">
                        <span>
                            토스 서비스 타입
                        </span>
                    </th>
                    <td colspan="3" >
                        <div class="fb-filter__radio devServiceUse">
                            <label>
                                <input type="radio" name="toss_service_type" value="test" {? payConfig.toss_service_type =='' || payConfig.toss_service_type =='test'  } checked {/}  />
                                <span>test</span>
                            </label>
                            <label>
                                <input type="radio" name="toss_service_type" value="service" {? payConfig.toss_service_type =='service'  } checked {/}  />
                                <span>service</span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr> <!-- 텍스트 타입 -->
                    <th class="fb-filter__title">
                        <span>
                            상점 키
                        </span>
                    </th>
                    <td colspan="3" class="fb-filter__day-wrap devServiceUse">
                        <div class="fb-filter__title-contents">
                            <input type="text" class="fb-filter__text" name="toss_api_key" title="토스 apiKey"
                                   placeholder="apiKey" value="{payConfig.toss_api_key}">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </section>
</form>