<section class="fb__menusubmit">
    <fieldset class="fb__menusubmit--line">
        <legend></legend>
        <div class="fb__tap ">
            <ul class="fb__tap__inner" id="devTap">
                <li class="fb__tap__menu">
                    <a href="#devCompanyInfo" class="fb__tap__menu--active">
                        사업자 정보
                    </a>
                </li>                
                <li class="fb__tap__menu">
                    <a href="#devShopInfo">
                        상점 기본정보
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devSumPriceInfo">
                        정산관리
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devMdInfo">
                        담당자 정보
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devDeliveryList">
                        배송 택배정책
                    </a>
                </li>
            <!--<li class="fb__tap__menu">
                    <a href="#devDeliveryGroup">
                        묶음배송 그룹 정책
                    </a>
                </li>-->
                <li class="fb__tap__menu">
                    <a href="#devShipPlaceInfo">
                        출고지 관리
                    </a>
                </li>
                <li class="fb__tap__menu">
                    <a href="#devExchangeInfo">
                        교환/반품지 관리
                    </a>
                </li>
            </ul>
        </div>        
        <!--{#devCompanyInfo}-->
        <!--{#devMdInfo}-->        
        <!--{#devShopInfo}-->        
        <!--{#devSumPriceInfo}-->
        <!--{#devShipPlaceInfo}-->
        <!--{#devDeliveryList}-->
        <!--{#devDeliveryGroup}-->
        <!--{#devExchangeInfo}-->
    </fieldset>
</section>
