<div class="fb__tapcontent">
    <section class="fb-filter fb__tapcontent__inner fb__tapcontent--show" id="devShipPlaceInfo">
        <form id="devShipPlaceInfoForm" method="POST">
            <input type="hidden" name="tabType" value="">
            <input type="hidden" name="placeType" value="F">
            <input type="hidden" name="company_id" value="{company_id}" id="devCompanyId"/>
            <table>
                <caption></caption>
                <colgroup>
                    <col width="14%">
                    <col width="35%">
                    <col width="14%">
                    <col width="*">
                </colgroup>
                <tr> <!-- 텍스트 타입 -->
                    <th class="fb-filter__title">
                                <span class="fb-filter__title--ne">
                                    출고지명
                                </span>
                    </th>
                    <td colspan="" class="fb-filter__day-wrap">
                        <div class="fb-filter__title-contents">
                            <input type="text" class="fb-filter__text" name="addr_name" title="출고지명" value="{shi.addr_name}">
                        </div>
                    </td>
                    <th class="fb-filter__title">
                                <span class="">
                                    담당자명
                                </span>
                    </th>
                    <td colspan="" class="fb-filter__day-wrap">
                        <div class="fb-filter__title-contents">
                            <input type="text" class="fb-filter__text" name="person_name"  value="{shi.person_name}">
                        </div>
                    </td>
                </tr>
                <tr> <!-- 텍스트 타입 -->
                    <th class="fb-filter__title">
                                <span class="fb-filter__title--ne">
                                    일반전화번호
                                </span>
                    </th>
                    <td colspan="" class="fb-filter__day-wrap">
                        <div class="fb-filter__title-contents">
                            <input type="text" class="fb-filter__text fb-filter__text--20" name="addr_phone_1" title="일반전화번호" value="{shi.addr_phone_1}">
                            <input type="text" class="fb-filter__text fb-filter__text--30" name="addr_phone_2" title="일반전화번호" value="{shi.addr_phone_2}">
                            <input type="text" class="fb-filter__text fb-filter__text--30" name="addr_phone_3" title="일반전화번호" value="{shi.addr_phone_3}">
                        </div>
                    </td>
                    <th class="fb-filter__title">
                                <span class="">
                                    휴대폰 번호
                                </span>
                    </th>
                    <td colspan="" class="fb-filter__day-wrap">
                        <div class="fb-filter__title-contents">
                            <input type="text" class="fb-filter__text fb-filter__text--20" name="addr_mobile_1"  value="{shi.addr_mobile_1}">
                            <input type="text" class="fb-filter__text fb-filter__text--30" name="addr_mobile_2"  value="{shi.addr_mobile_2}">
                            <input type="text" class="fb-filter__text fb-filter__text--30" name="addr_mobile_3"  value="{shi.addr_mobile_3}">
                        </div>
                    </td>
                </tr>
                <tr> <!-- 텍스트 타입 -->
                    <th class="fb-filter__title">
                                <span class="fb-filter__title--ne">
                                    출고지 주소
                                </span>
                    </th>
                    <td colspan="3" class="fb-filter__day-wrap">
                        <div class="fb-filter__title-contents">
                            <input type="text" class="fb-filter__text" name="com_zip" title="교환/반품 주소" id="devShiZipCode" value="{shi.zip_code}"> <input type="button" class="fb-filter__search-icon devSearchAddressPopup1" value="검색"> <br><br>
                            <input type="text" class="fb-filter__text" name="com_addr1" title="교환/반품 주소" id="devShiAddress" value="{shi.address_1}"><br><br><br>
                            <input type="text" class="fb-filter__text floatNo" name="com_addr2" title="교환/반품 주소"  value="{shi.address_2}">(상세주소)
                        </div>
                    </td>
                </tr>
            </table>
            <div class="fb-filter__btn">
                <input type="button" class="fb-filter__save devShipPlaceInfoSave" value="저장" />
            </div>
        </form>
    </section>

</div>