<section class="fb-filter">
    <table class="fb-filter__table">
        <caption>주문자 정보</caption>
        <colgroup>
        </colgroup>
        <tr>
            <th class="">
                <span>총 주문건수</span>
            </th>
            <th class="">
                <span>총 주문상세건수</span>
            </th>
            <th class="">
                <span>총 결제금액</span>
            </th>
            <th class="">
                <span>총 상품 금액</span>
            </th>
            <th class="">
                <span>총 취소금액</span>
            </th>
            <th class="">
                <span>총 반품금액</span>
            </th>
            <th class="">
                <span>총 매출액</span>
            </th>
        </tr>
        <tr>
            <td id="devTotalOrderCnt"></td>
            <td id="devTotalOrderDetailCnt"></td>
            <td id="devTotalPaymentPrice"></td>
            <td id="devTotalProductPrice"></td>
            <td id="devTotalCancelPrice"></td>
            <td id="devTotalReturnPrice"></td>
            <td id="devTotalSalesPrice"></td>
        </tr>
    </table>

</section>