<section class="fb-filter">
    <table class="fb-filter__table">
        <caption>주문자 정보</caption>
        <colgroup>
        </colgroup>
        <tr>
            <th class="">
                <span>총 주문상세건수</span>
            </th>
            <th class="">
                <span>총 판매가</span>
            </th>
            <th class="">
                <span>총 최종할인가</span>
            </th>
            <th class="">
                <span>총 취소금액</span>
            </th>
            <th class="">
                <span>총 반품금액</span>
            </th>
        </tr>
        <tr>
            <th id="devTotalOrderDetailCnt"></th>
            <th id="devTotalListPrice"></th>
            <th id="devTotalPaymentPrice"></th>
            <th id="devTotalCancelPrice"></th>
            <th id="devTotalReturnPrice"></th>
        </tr>
    </table>

</section>